<?php

echo "<link href='$path_to_root/themes/grayblue/all_css/select.css' rel='stylesheet' type='text/css'> \n";

echo "<script src='$path_to_root/themes/grayblue/All_dashboardcharts/top10bank/am.js'></script>";
echo '<script src="http://www.amcharts.com/lib/3/funnel.js"></script>';
echo '<script src="http://www.amcharts.com/lib/3/themes/light.js"></script>';
echo'<style>
        #chartdiv
        {
            height:300px;
        }
        #chartdiv {#chartdiv {
        	width		: 100%;
        	height		: 500px;
        	font-size	: 11px;
        }	
        	width		: 100%;
        	height		: 500px;
        	font-size	: 11px;
        }	
        	width		: 100%;
        	height		: 500px;
        	font-size	: 11px;
        }													
</style>';
echo' <div id="chartdiv" ></div>';
echo'<script>
var chart = AmCharts.makeChart( "chartdiv", {
  "type": "funnel",
  "theme": "light",
  "dataProvider": [ {
    "title": "Website visits",
    "value": 300
  }, {
    "title": "Downloads",
    "value": 123
  }, {
    "title": "Requested prices",
    "value": 98
  }, {
    "title": "Contaced",
    "value": 72
  }, {
    "title": "Purchased",
    "value": 35
  }, {
    "title": "Asked for support",
    "value": 25
  }, {
    "title": "Purchased more",
    "value": 18
  } ],
  "titleField": "title",
  "marginRight": 160,
  "marginLeft": 15,
  "labelPosition": "right",
  "funnelAlpha": 0.9,
  "valueField": "value",
  "startX": 0,
  "neckWidth": "40%",
  "startAlpha": 0,
  "outlineThickness": 1,
  "neckHeight": "30%",
  "balloonText": "[[title]]:<b>[[value]]</b>",
  "export": {
    "enabled": true
  }
} );
</script>';
?>
